In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Mean KNN Model Accuracy: 96.6%

In [20]:
df = pd.read_csv('iris.data')
df

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [141]:
df.describe()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [34]:
df.isnull().sum() + df.isna().sum()

sepal length in cm    0
sepal width in cm     0
petal length in cm    0
petal width in cm     0
class                 0
dtype: int64

In [22]:
df['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [30]:
X = df.iloc[:, :-1]
X

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

In [33]:
y = df['class']
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, Length: 150, dtype: object

In [114]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, cross_val_score, KFold
import math

In [115]:
pipeline = Pipeline([('scalar', StandardScaler()),
                     ('classifier', KNeighborsClassifier())])

In [134]:
model = KNeighborsClassifier()
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)
pipeline.fit(X_train, y_train)
pipeline.score(X_test, y_test)

1.0

In [135]:
model.fit(X_train, y_train)
model.score(X_test, y_test)

1.0

In [138]:
from sklearn.metrics import accuracy_score

pip_prediction = pipeline.predict(X_test)
pip_acc = accuracy_score(y_test, pip_prediction)
pip_acc

1.0

In [139]:
prediction = model.predict(X_test)
acc = accuracy_score(y_test, prediction)
acc

1.0

In [ ]:
kfold = KFold(n_splits=10, shuffle = True, random_state= 101)
cvs = cross_val_score(model,X, y, cv=kfold, scoring='accuracy')
cvs1 = cross_val_score(pipeline, X, y, cv=kfold, scoring='accuracy')
print(f"Mean Cross-Val-Score (not scaled) KNN: {cvs.mean()} ({cvs.std()})")
print(f"Mean Cross-Val-Score (scaled) KNN: {cvs1.mean()} ({cvs1.std()}) ")

Mean Cross-Val-Score (not scaled) KNN: 0.9600000000000002 (0.05333333333333332)
Mean Cross-Val-Score (scaled) KNN: 0.9466666666666667 (0.04988876515698587)

In [124]:
# mean cvs was approx 0.014 heigher when not scaling data